.kep{
    border-radius: 15px;
    width: 100%;
    height: 200px;
}

.div{
    background: lightgray;
    overflow: hidden;
    width: 300px;
    border-radius: 15px;
    height: 400px;
}

.kulsoDiv{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background: whitesmoke; 
}